extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    li
      a(href='/api/contacts') Contacts API 
    li
      a(href='/api/accounts') Accounts API 
    li
      a(href='/api/reports') Reports API 